*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-style: italic;
    padding: 10px 10px 10px 0px;
    font-size: 20px;
    text-align: center;
    color: rgb(25, 16, 36);
}
body{
    display: flex;
    justify-content: center;
    align-content: center;

}
#form1{
    background-color: black;
    text-align: center;
    padding: 5px 0px 20px 0px;
    border-radius: 10px;
    
}
#main input{
    padding: 10px 38px 10px -0px;
    border: 2px solid red;
    margin: 10px;
    
}
#searchh{
    font-weight: bolder;
}

.nums input{
    width: 50px;
   padding: 10px;
   margin: 2px;
   font-weight: bolder;
}
.nums input{
    box-shadow: inset 2px 2px 2px #756f6f, inset -2px -2px 2px #575151;
    border-radius:10px;
    
}
.nums input:hover{
    background-color: #383737;
    color:white;

}
@media screen and (max-width:1440px ) {
    #form1{
        width: 270px;
      
    }
    
}